body {
    background-color: lightgray;
    width: 100vw !important;
    height: 100vh !important;
}

.titleInfo{
    padding: 20px !important;
}

.cardInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2%;
}

.imgDateRuntime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.imgDateRuntime h5{
    margin-left: 20px;
    object-fit: cover;
}

.cardImgInfo {
    margin-left: 20px !important;
    margin-bottom: 15px;

}

.card-body{
    width: 80%;
}

.cardTextInfo{
    font-size: 25px !important;
}
