body {
    background-color: lightgray;
    width: 100vw !important;
}

.titleInfo{
    padding: 20px !important;
}

.cardInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 2%;
}

.imgDateRuntime{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.imgDateRuntime h5{
    margin-left: 20px;
    object-fit: cover;
}

.cardImgInfo {
    margin-left: 20px !important;
    margin-bottom: 15px;

}

.card-body{
    width: 80%;
}

.cardTextInfo{
    font-size: 25px !important;
}


/* SEPARATEUR */

.custom-shape-divider-top-1674036213 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674036213 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 53px;
}

.custom-shape-divider-top-1674036213 .shape-fill {
    fill: #FFFFFF;
}

/* --------------- */

.custom-shape-divider-bottom-1674036274 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674036274 svg {
    position: relative;
    display: block;
    width: calc(139% + 1.3px);
    height: 53px;
}

.custom-shape-divider-bottom-1674036274 .shape-fill {
    fill: #FFFFFF;
}